# Local image names used by the deploy compose files.
WEAVEFTPD_IMAGE=weaveftpd:latest
WEAVEFTPD_SITEBOT_IMAGE=weaveftpd-sitebot:latest

# Runtime directory created by ./init.sh master.
WEAVEFTPD_RUNTIME=./runtime/master

# Host path that becomes /app/site in the daemon/slave containers.
WEAVEFTPD_SITE_PATH=./runtime/master/site

# Default is root inside the container. To run as your host user:
#   export WEAVEFTPD_UID="$(id -u)"
#   export WEAVEFTPD_GID="$(id -g)"
WEAVEFTPD_UID=0
WEAVEFTPD_GID=0
